@use '../abstracts' as a;


footer {
    position: relative;
    background-color:  #A2B5BB; /* Keep solid color as a base */
    
}

footer::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none; 
}

footer section {
    @include a.flex-just-space-between;
}


footer nav ul li {
    list-style: none;
    padding-bottom: 15px;
}

footer nav ul li a {
    text-decoration: none;
    padding-right: 50px;
    color: black;
    
}

footer p {
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
}
