@use '../abstracts' as a;


footer {
    background-color:  #A2B5BB; /* Keep solid color as a base */
    
}

.footer-logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

footer section {
    @include a.flex-just-space-between;
}


footer nav ul li {
    list-style: none;
    padding-bottom: 15px;
}

footer nav ul li a {
    text-decoration: none;
    padding-right: 50px;
    color: black;
    
}

footer p {
    text-align: center;
    margin-top: -10px;
    font-weight: bold;
    margin-bottom: 20px;
}
