@use '../abstracts' as a;


footer section {
    @include a.flex-just-space-between;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

footer nav ul li {
    list-style: none;
    padding-bottom: 15px;
}

footer nav ul li a {
    text-decoration: none;
    padding-right: 50px;
    
}
