@use '../abstracts' as a;

header {
    background-color: rgb(193, 191, 191);
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header section{
    @include a.flex-space-between;   
}

.logo {
    width: 80px;
    height: 80px;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    header nav ul li a {
        padding-right: 50px;
    }

}