@use '../abstracts' as a;

header section{
    @include a.flex-space-between;   
}

.logo {
    width: 50px;
    height: 50px;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    padding-right: 50px;
}
