#comparison-con {
  display: none;
}

@media screen and (min-width: 768px) {

  #mobile-tablet-view {
      display: none;
  }

  #comparison-con {
      display: block;
  }
  
  #xray {
      position: relative;
      aspect-ratio: 16/10;
      background-image: url("../images/x-ray.png");
      background-size: cover;
  }

  #divisor {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/x-ray-filled.png");
      background-size: cover;
      height: 100%;
      width: 50%;
  }
  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    top: -45px;
    left: -.5%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 102%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-range-track {
    height: 35px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    outline: none;
  }

  input[type=range]:active {
    border: none;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/left-right-slider.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 45px;
    border-radius: 0;
  }

  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/left-right-slider.svg");
    width: 60px;
    height: 45px;
    border-radius: 0;
  }

  input[type=range]:focus::-webkit-slider-thumb {
    background-image: url("../images/left-right-slider.svg");
  }

  input[type=range]:focus::-moz-range-thumb {
    background-image: url("../inages/left-right-slider.svg");
  }

}