@use '../abstracts' as a;

.headings {
    text-align: center;
}

h2 {
    text-align: center;
}

.headings p {
    margin-top: -25px;
}
body{
    background-color: #CFD2CF;
}

.about-pulsebeats img {
    background-color: black;
}
.contact {
    background-color: #CFD2CF;

}

#contact p {
    padding-left: 22px;
}

.text-background {
    background-color: #F5EDDC;
}