@use '../abstracts' as a;

.headings {
    text-align: center;
}

.headings p {
    margin-top: -25px;
}
body{
    background-color: #CFD2CF;
}

.about-pulsebeats img {
    background-color: black;
}
.contact {
    background-color: #CFD2CF;

}